.clockcontainer {
    height: 40vw;
    width: 40vw;
    position: relative;
    margin: auto;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

.hour,
.minute,
.second {
    background-color: rgb(221, 51, 51);
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}

.hour {
    width: 2.4%;
    height: 23%;
    top: 29%;
    left: 48.5%;
    opacity: 0.8;
}

.minute {
    width: 2.2%;
    height: 28%;
    top: 24%;
    left: 48.58%;
    opacity: 0.8;
}

.second {
    width: 1.2%;
    height: 32%;
    top: 20%;
    left: 49.2%;
    opacity: 0.8;
}